* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container_gallery {
    position: relative;
    display: inline-block;
    overflow: hidden; /* Esto asegurará que el pseudo-elemento no se desborde */
  }


.container_section_gallery_titles {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 5%;
    
}

.title_gallery_page {
    font-size: 54px;
    color: #333; /* Color del texto */
    margin-bottom: 10px;
}

.subtitle_gallery_page {
    font-size: 18px;
    color: #666; /* Color del texto */
    text-align: center;
    width: 95%;
    margin-bottom: 20px;
}