/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #e8e8e7;
  font-family: Helvetica;
}

/* Estilo para el fondo de pantalla */
body {
  
  font-family: Helvetica;
  background-position: center;
  height: 100vh; /* Hace que el fondo cubra toda la pantalla */
}

/* Estilos para la pantalla de carga */
/* Estilo para la pantalla de carga */
#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e8e8e7;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Asegura que la pantalla de carga esté sobre todo el contenido */
  opacity: 1;
  transition: opacity 1.5s ease; /* Agrega una transición suave a la opacidad */
}

#loading-screen img {
  width: 400px; /* Ajusta el tamaño del logo según sea necesario */
}

/* Estilo para ocultar la pantalla de carga */
#loading-screen.hidden {
  opacity: 0;
  pointer-events: none; /* Evita que la pantalla de carga sea clickeable */
}

.background2 {
  display: none;
}

@media (max-width: 768px) {
  .background2 {
    display: flex;
  }

  .background {
    display: none;
  }
}

.background-container {
  position: relative;
  display: inline-block;
}

.bigTitle {
  position: absolute;
  top: 160px;
  left: 100px;
  z-index: 2;
  font-size: 75px;
  background-color: transparent;
  color: #343a40;
  font-weight: 100;
  text-shadow: 2px 2px 4px white;
}

.subtitle_home {
  position: absolute;
  top: 280px;
  left: 100px;
  width: 43%;
  z-index: 2;
  font-size: 17px;
  background-color: transparent;
  color: #343a40;
  font-weight: 600;
}


/* Estilos para el navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #e8e8e7; /* Barra blanca semi-transparente */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Asegura que el navbar esté por encima del contenido */
}

.logo img {
  width: 100px; /* Ajusta el tamaño del logo según sea necesario */
}

.menu {
  list-style: none;
}

.menu li {
  display: inline;
  margin-left: 25px; /* Espacio entre elementos del menú */
}

.menu li:first-child {
  margin-left: 0; /* Elimina el espacio a la izquierda del primer elemento del menú */
}

.menu li a {
  text-decoration: none;
  color: #333; /* Color de los enlaces */
  font-size: 16px; /* Tamaño de la fuente */
  padding-bottom: 10px; /* Ajusta el espacio entre el texto y el borde inferior */
}

.menu li a.active { /* Aplica los estilos cuando se selecciona una opción */
  border-bottom: 2px solid gray; /* Agrega una línea gris debajo de la opción activa */
}



/* Estilos para versiones móviles */
@media (max-width: 768px) {
  .navbar {
      flex-direction: column; /* Cambia el diseño del navbar a una columna en dispositivos móviles */
      padding: 10px;
  }

  .subtitle_home {
    display: none;
  }

  .menu {
      display: none; /* Oculta el menú en dispositivos móviles */
  }

  .menu-toggle {
      display: block; /* Muestra el botón de menú en dispositivos móviles */
      background: transparent;
      border: none;
      cursor: pointer;
      align-items: center;
  }

  .menu-toggle span {
      display: block;
      width: 25px;
      height: 3px;
      background-color: #333;
      margin: 5px auto;
      transition: background-color 0.3s ease;
  }

  .menu-toggle.active span {
      background-color: transparent; /* Cambia el color de las barras a transparente cuando el menú está activo */
  }

  .menu.active {
      display: block; /* Muestra el menú cuando el botón de menú está activo */
      position: absolute;
      top: 70px;
      justify-content: center;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.8);
      padding: 10px;
  }

  .menu li {
    background-color: transparent;
    align-items: center;
  }

  .menu li a {
    text-decoration: none;
    background-color: transparent;
    font-size: 18px; /* Tamaño de la fuente */
    border-bottom: transparent; /* Establece un borde inferior transparente por defecto */
  }
  
  
}







  .container {
    position: relative;
    display: inline-block;
    overflow: hidden; /* Esto asegurará que el pseudo-elemento no se desborde */
  }
  
  img {
    width: 100%;
    display: block;
  }
  
  .container::before {
    content: "Open +";
    text-align: center;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 85%;
    height: 85%;
    background-color: rgba(20, 20, 20, 0.5);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.8s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
  }
  
  .container:hover::before {
    opacity: 1;
  }
  
  

  .row {
    display: flex;
    padding-inline-start: 5px;
    

  }

  .column {
    flex: 45%;
    padding: 5px;
  }

  .column img {
    margin-top: 5px;
  }

  @media (max-width: 500px) {
    .column {
      flex: 50%;
    }
    .row {
      flex-wrap: wrap;
    }

    .bigTitle {
      margin-left: -70px;
      margin-top: 25px;
      font-weight: 500;
    }
  }

  @media (max-width: 900px) {
    .column {
      flex: 50%;
    }
    .row {
      flex-wrap: wrap;
    }

    .img {
      width: 10%;
    }
  }

  .Text_Gallery {
    color: #343a40;
    font-size: 65px;
    text-align: left;
    margin-top: 40px;
  }

  .text_description {
    font-size: 15px;
    color: gray;
    font-family: Helvetica;
  }

  .Button_show_more {
    background-color: transparent;
    padding: 17px;
    padding-left: 20px;
    padding-right: 20px;
    border: transparent;
    width: 180px;
    transition: width 0.5s ease, background-color 0.5s ease;
  }

  .a_button_showMore {
    background-color: transparent;
  }

  .div_button_show {
     background-color: transparent;
     border: 1px solid gray;
     width: 90px;
     margin-top: 35px;
     transition: width 0.5s ease, background-color 0.5s ease;
  }

  #hide_container_portolio {
    display: none;
  }

  @media (max-width: 768px) {
    #hide_container_portolio {
      display: flex;
    }

    #hide_column_portfolio {
      display: none;
    }
  }

  .div_button_show:hover{
    width: 180px;
    background-color: #343a40;
    
  }

  .Button_show_more:hover{
    color: white;
  }

  .animated-image {
    opacity: 0;
    transform: translateY(50px); /* Inicialmente, mueve la imagen hacia abajo */
    transition: opacity 1s ease, transform 1s ease; /* Agrega una transición suave */
  }
  
  .animate {
    opacity: 1;
    transform: translateY(0); /* Cuando la imagen se desplaza hacia arriba, se muestra */
  }
  

  /* @media (max-width: 520px) {
    .section_Portfolio {
      margin-left: 250px;
    }
  } */


  .title_services {
    color: #343a40;
    font-size: 75px;
    text-align: left;
    margin-top: 60px;
    margin-left: 2%;
  }

  @media (max-width: 520px) {
    .title_services {
      font-size: 48px;
    }
  }

  .learn_more {
    font-size: 15px;
    color: #343a40;
    margin-top: 90px;
  }

  .div_title_services {
    display: flex;
    gap: 70%;
  }

  
  .div_main_container_services {
    display: flex;
  }

  .img_services {
    height: 300px;
  }

  

  .div_container_services {
    width: 100%;
    padding: 2.5%;
    margin-top: 25px;
    position: relative; /* Agregamos posición relativa */
  }

  @media (max-width: 850px) {
    .div_container_services {
      width: 40%;
      height: 400px;
      margin-top: 120px;
    }

    .img_services {
      height: 400px;
    }
  }

  @media (max-width: 1200px) {
    .div_main_container_services {
      display: flex;
      flex-direction: column;
      margin-bottom: -90px;
    }

    .div_container_services {
      width: 100%;
      height: 350px;
      margin-top: 160px;
    }

    .img_services {
      height: 350px;
    }
  }


  .div_container_services::after {
    content: ""; /* Agregamos un pseudo-elemento */
    position: absolute; /* Posicionamos el pseudo-elemento */
    top: 40px;
    right: -1px; /* Ajustamos la posición para que la línea esté a la derecha de la tarjeta */
    height: 80%; /* La altura de la línea será igual a la altura de la tarjeta */
    width: 0.5px; /* Ancho de la línea */
    background-color: #adb5bd; /* Color de la línea */
}

/* Opcional: ajusta el margen para que la línea no aparezca en la última tarjeta */
.div_container_services:last-child::after {
    display: none;
}
  
  .div_container_services::before {
    content: attr(data-text); /* Agregamos un pseudo-elemento */
    font-size: 17px;
    color: #343a40;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transition: opacity 0.8s ease;
    display: flex;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    line-height: 1;
    position: absolute; /* Posicionamos el pseudo-elemento */
    width: 81%; /* Anchura del pseudo-elemento igual a la del contenedor */
    height: 86%; /* Altura del pseudo-elemento igual a la del contenedor */
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semitransparente */
    opacity: 1; /* Por defecto, el recuadro blanco es invisible */
    pointer-events: none;
}

.div_container_services:hover::before {
    opacity: 0; /* Al hacer hover, mostramos el recuadro blanco y el texto */
}



.div_container_first, .div_container_second{
  display: flex;
  flex-direction: column;
}

.vertical-text {
  writing-mode: vertical-rl; /* Establece el modo de escritura vertical de derecha a izquierda */
  text-orientation: sideways; /* Orienta el texto verticalmente con las letras mirando hacia arriba */
  font-size: 45px;
  color: #343a40;
  margin-left: 16%;
  margin-bottom: 200px;
  transform: rotate(180deg); /* Rota el texto 180 grados para que aparezca correctamente */
}

.text_contact {
  color: gray;
  font-size: 13px;
}

.text_strong_contact {
  font-size: 14px;
  color: #343a40;
  margin-top: 10px;
}

.container-form {
  width: 450px;
  
  margin: 0 auto; /* Centra el formulario horizontalmente */
}

.flex-container {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se ajusten automáticamente a la línea siguiente */
}

.input-wrapper {
  flex: 0 0 48%; /* Establece el ancho de los campos de nombre y correo electrónico */
  margin-right: 2%; /* Agrega un espacio entre los campos */
  margin-top: 4%;
}

.input-wrapper input:focus + .line-1 {
  background-color: #343a40; /* Cambia el color de fondo de la línea a amarillo cuando el input está enfocado */
  height: 2px; 
  transition: background-color 0.8s ease, height 0.8s ease; 
}


.input-wrapper:last-child {
  margin-right: 0; /* Elimina el espacio entre el último campo y el botón */
}

.input-wrapper label {
  font-size: 12px;
  color: gray;
  display: block; /* Muestra las etiquetas de los inputs en una línea */
}

.but-get {
  display: block; /* Asegura que el botón esté en su propia línea */
  margin-top: 10px; /* Espacio entre el último campo y el botón */
}

#name,
#mail,
#text {
  border: transparent;
  background-color: #e8e8e7;
  font-size: 13px;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  outline: none;
}

.button-get {
  border: transparent;
  background-color: #e8e8e7;
  color: #343a40;
  font-weight: 600;
}

.container_button_get {
  display: flex;
  justify-content: flex-end;
  margin-top: 35px
}

.hr_style {
  background-color: gray;
}

.container_footer {
  display: flex;
  justify-content: space-around;
  gap: 10%;
  height: 70px;
  align-items: center;
  color: gray;
}


.container_contact_form {
  display: flex;
  gap: 100px;
  margin-left: 3%;
}

.subtitle_getintouch {
  font-size: 25px;
  margin-top: 75px;
  color: #343a40;
}

.container_photo_contact {
  margin-left: 2%;
}

.container_section_info {
  display: flex;
  gap: 80px;
  margin-top: 20px;
}

@media (max-width: 900px) {
  .container_contact_form {
    display: flex;
    flex-direction: column;
    margin-left: 7%;
  }

  
}

@media (max-width: 1450px) {
  .vertical-text {
    display: none;
  }
}

@media (max-width: 550px) {
  .container_photo_contact {
    width: 80%;
  }

  .Description_home {
    display: none;
  }

  .container-form {
    width: 340px;
    margin-left: -30px;
    margin-top: 50px;
  }

  .subtitle_getintouch {
    margin-top: 50px;
  }

  .container_section_info {
    display: flex;
    gap: 19px;
    margin-top: 40px;
  }
}


/* Estilos para el botón de hamburguesa */
.menu-toggle {
  display: none; /* Oculta el botón de hamburguesa en versiones no móviles */
}

.menu-toggle span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 5px auto;
  transition: background-color 0.3s ease;
}

.h2_contactus_mobile {
  display: none;
}

/* Estilos para la versión móvil */
@media screen and (max-width: 768px) {
  .menu {
      display: none;
      position: absolute;
      top: 70px;
      left: 0;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.8);
      padding: 10px;
      text-align: center; /* Centra las opciones del menú */
  }

  .menu.active {
      display: block;
  }

  .menu-toggle {
      display: block;
      position: fixed;
      top: 20px;
      right: 20px;
      z-index: 999;
  }

  .h2_contactus_mobile {
    display: flex;
    margin-top: 70px;
    color: #343a40;
    font-size: 48px;
  }
}

.span_text_services {
  font-size: 12px;
  color: gray;
  font-weight: 100;
}

.container_text_small_services {
  display: flex;
  margin-top: 10px;
}

.text_p_Time {
  font-size: 13px;
  color: #343a40;
}

.strong_text_days {
  color: #343a40;
  font-size: 13px;
  font-weight: 400;
}

