body {
  background-color: #e8e8e7;
}

.background {
  width: 95%;
  height: 1100px;
  margin-top: 10px;
  margin-left: -10px;
  overflow-x: hidden;
  
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e8e8e7; 
    padding: 10px 20px;
    width: 99%;
    margin-top: -1120px;
    position: absolute;
    margin-left: -70px;
    z-index: 1000; /* Asegura que el menú esté por delante del contenido */
}


.brand {
    color: white; /* Cambia el color del texto según tus preferencias */
    font-size: 20px;
    margin-left: 95px;
    color: #333;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: 50px;
}


.menu li {
    margin-left: 50px; /* Espacio entre elementos */
}

.menu li a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
    font-size: 17px;
    /* border: 2px solid transparent; */
    border-radius: 5px;
    transition: all 0.3s ease;
}

.menu li.active a::after {
    content: ''; /* Agrega un contenido vacío */
    position: absolute;
    left: 50%;
    bottom: -3px; /* Ajusta la distancia de la línea desde la parte inferior */
    width: 70px; /* Ancho de la línea */
    height: 3px; /* Altura de la línea */
    background-color: #333; /* Color de la línea */
    transform: translateX(-50%); /* Centra la línea horizontalmente */
    transition: width 0.3s ease; /* Transición suave para el efecto */
}

.menu li a:hover {

    border-color: #fff;
    border-radius: 0;
    padding: 12px 24px;
}

.menu li:hover a::after {
    width: 0; /* Oculta la línea cuando no se presiona */
}

.menu li:hover.active a::after {
    width: 50px; /* Ancho de la línea al presionar */
}




/* Estilos adicionales para hacer el menú responsive */
@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        padding: 10px;
    }
    
    .menu {
        margin-top: 10px; /* Espacio entre el texto y los botones en dispositivos pequeños */
    }
}



.Title {
    
        display: flex;
        justify-content: center;
        align-items: flex-start;
        color: white;
        font-size: 84px;
        font-weight: bold;
        margin-left: 8%;
        text-align: start;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    width: 70%;
}

.Description_home {
  display: flex;
  text-align: center;
  width: 19%;
  font-size: 17px;
  color: #333;
  margin-left: 41.5%;
  margin-top: -850px;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

.Button_see_gallery {
  border: 1px solid #fff;
  padding: 10px;
  background-color: #333;
  color: white;
  font-size: 20px;
  width: 12%;
  margin-left: 9%;
  margin-top: 5%;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
  }
  
  .Button_see_gallery {
    border: none;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid white;
    /* border-radius: 5px; */
    animation: pulse 1s infinite; /* Aplica la animación de pulsación */
    transition: background-color 0.3s ease; /* Transición suave para el color de fondo */
  }
  
  .Button_see_gallery:hover {
    background-color: white;
    color: #333;
    animation: none; /* Detiene la animación al pasar el mouse sobre el botón */
  }
  
  .additional-content {
    padding: 20px; /* Ajusta el relleno según sea necesario */
    color: black;
    font-size: 18px;
    /* Otros estilos */
}

  img {
    width: 100%;
  }

  .container {
    position: relative;
    display: inline-block;
    overflow: hidden; /* Esto asegurará que el pseudo-elemento no se desborde */
  }
  
  img {
    width: 100%;
    display: block;
  }
  
  .container::before {
    content: "Open +";
    text-align: center;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 85%;
    height: 85%;
    background-color: rgba(20, 20, 20, 0.5);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.8s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
  }
  
  .container:hover::before {
    opacity: 1;
  }
  
  

  .row {
    display: flex;
    padding-inline-start: 5px;
    

  }

  .column {
    flex: 45%;
    padding: 7px;
  }

  .column img {
    margin-top: 1px;
  }

  @media (max-width: 500px) {
    .column {
      flex: 50%;
    }
    .row {
      flex-wrap: wrap;
    }
  }

  @media (max-width: 900px) {
    .column {
      flex: 33%;
    }
    .row {
      flex-wrap: wrap;
    }

    .img {
      width: 10%;
    }
  }

  .Text_Gallery {
    color: #343a40;
    font-size: 65px;
    text-align: left;
    margin-top: 40px;
  }

  .text_description {
    font-size: 15px;
    color: gray;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .Button_show_more {
    background-color: transparent;
    padding: 17px;
    padding-left: 20px;
    padding-right: 20px;
    border: transparent;
    width: 180px;
    transition: width 0.5s ease, background-color 0.5s ease;
  }

  .div_button_show {
     background-color: transparent;
     border: 1px solid gray;
     width: 90px;
     margin-top: 20px;
     transition: width 0.5s ease, background-color 0.5s ease;
  }

  .div_button_show:hover{
    width: 180px;
    background-color: #343a40;
    
  }

  .Button_show_more:hover{
    color: white;
  }

  /* @media (max-width: 520px) {
    .section_Portfolio {
      margin-left: 250px;
    }
  } */


  .title_services {
    color: #343a40;
    font-size: 75px;
    text-align: left;
    margin-top: 60px;
    margin-left: 2%;
  }

  .learn_more {
    font-size: 15px;
    color: #343a40;
    margin-top: 90px;
  }

  .div_title_services {
    display: flex;
    gap: 70%;
  }

  
  .div_main_container_services {
    display: flex;
  }

  .img_services {
    height: 300px;
  }

  @media (max-width: 1200px) {
    .div_main_container_services {
      display: flex;
      flex-direction: column;

    }

    .div_container_services {
      width: 80%;
      height: 850px;
    }

    .img_services {
      height: 850px;
    }
  }

  @media (max-width: 850px) {
    .div_container_services {
      width: 40%;
      height: 400px;
    }

    .img_services {
      height: 400px;
    }
  }
  
  .div_container_services {
    width: 100%;
    padding: 2.5%;
    position: relative; /* Agregamos posición relativa */
  }


  .div_container_services::after {
    content: ""; /* Agregamos un pseudo-elemento */
    position: absolute; /* Posicionamos el pseudo-elemento */
    top: 40px;
    right: -1px; /* Ajustamos la posición para que la línea esté a la derecha de la tarjeta */
    height: 80%; /* La altura de la línea será igual a la altura de la tarjeta */
    width: 0.5px; /* Ancho de la línea */
    background-color: #adb5bd; /* Color de la línea */
}

/* Opcional: ajusta el margen para que la línea no aparezca en la última tarjeta */
.div_container_services:last-child::after {
    display: none;
}
  
  .div_container_services::before {
    content: attr(data-text); /* Agregamos un pseudo-elemento */
    font-size: 17px;
    color: #343a40;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transition: opacity 0.8s ease;
    display: flex;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    line-height: 1;
    position: absolute; /* Posicionamos el pseudo-elemento */
    width: 81%; /* Anchura del pseudo-elemento igual a la del contenedor */
    height: 81%; /* Altura del pseudo-elemento igual a la del contenedor */
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semitransparente */
    opacity: 1; /* Por defecto, el recuadro blanco es invisible */
    pointer-events: none;
}

.div_container_services:hover::before {
    opacity: 0; /* Al hacer hover, mostramos el recuadro blanco y el texto */
}



  