.background {
  width: 100.9%;
  height: 950px;
  margin-top: -10px;
  margin-left: -10px;
  overflow-x: hidden;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 10px 20px;
    width: 99%;
    margin-top: -952px;
    position: fixed;
    margin-left: -10px;
    z-index: 1000; /* Asegura que el menú esté por delante del contenido */
}


.brand {
    color: white; /* Cambia el color del texto según tus preferencias */
    font-size: 30px;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: 50px;
}


.menu li {
    margin-left: 50px; /* Espacio entre elementos */
}

.menu li a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    font-size: 22px;
    /* border: 2px solid transparent; */
    border-radius: 5px;
    transition: all 0.3s ease;
}

.menu li.active a::after {
    content: ''; /* Agrega un contenido vacío */
    position: absolute;
    left: 50%;
    bottom: -3px; /* Ajusta la distancia de la línea desde la parte inferior */
    width: 80px; /* Ancho de la línea */
    height: 3px; /* Altura de la línea */
    background-color: white; /* Color de la línea */
    transform: translateX(-50%); /* Centra la línea horizontalmente */
    transition: width 0.3s ease; /* Transición suave para el efecto */
}

.menu li a:hover {

    border-color: #fff;
    border-radius: 0;
    padding: 12px 24px;
}

.menu li:hover a::after {
    width: 0; /* Oculta la línea cuando no se presiona */
}

.menu li:hover.active a::after {
    width: 50px; /* Ancho de la línea al presionar */
}




/* Estilos adicionales para hacer el menú responsive */
@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        padding: 10px;
    }
    
    .menu {
        margin-top: 10px; /* Espacio entre el texto y los botones en dispositivos pequeños */
    }
}

.section_Home_title {
  display: flex;
  margin-top: -30%;
  margin-left: 10%;
  flex-direction: column;
}

.Title {
    
        display: flex;
        justify-content: center;
        align-items: flex-start;
        color: white;
        font-size: 84px;
        font-weight: bold;
        text-align: start;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    width: 70%;
}

.Description_home {
  width: 80%;
  font-size: 22px;
  color: black;
  margin-left: 9%;
  margin-top: 5%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.Button_see_gallery {
  border: 1px solid #fff;
  padding: 10px;
  background-color: #333;
  color: white;
  font-size: 20px;
  width: 12%;
  margin-left: 9%;
  margin-top: 5%;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
  }
  
  .Button_see_gallery {
    border: none;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid white;
    /* border-radius: 5px; */
    animation: pulse 1s infinite; /* Aplica la animación de pulsación */
    transition: background-color 0.3s ease; /* Transición suave para el color de fondo */
  }
  
  .Button_see_gallery:hover {
    background-color: white;
    color: #333;
    animation: none; /* Detiene la animación al pasar el mouse sobre el botón */
  }
  
  .additional-content {
    padding: 20px; /* Ajusta el relleno según sea necesario */
    color: black;
    font-size: 18px;
    /* Otros estilos */
}



  .about-me {
    margin-top: 200px;
  }